<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background: #f8f9fa">

<!-- Edit Modal -->

<!-- Delete Modal -->

<!-- Header -->
<header class="bg-dark p-3 text-white d-flex justify-content-between">
    <div>
        <b th:text="${authenticatedUser.getEmail()}"></b>
        with roles:
        <span th:each="role: ${authenticatedUser.getAuthorities()}"
              th:text="${role.getAuthority().replace('ROLE_', '') + ' '}">
        </span>
    </div>
    <form method="get" action="/logout">
        <button class="bg-transparent text-secondary border-0">
            Logout
        </button>
    </form>
</header>
<main style="height: calc(100vh - 58px)" class="d-flex">
    <div class="w-100 d-flex align-items-start">
        <div style="width: 15%;" class="nav h-100 pt-4 bg-white flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
            <button class="nav-link active text-start" id="v-pills-admin-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">
                Admin
            </button>
            <button class="nav-link text-start" id="v-pills-user_details-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-user_details"
                    type="button" role="tab" aria-controls="v-pills-user_details" aria-selected="false">
                User
            </button>
        </div>
        <div style="flex: 1" class="tab-content p-4" id="v-pills-tabContent">
            <!-- Admin Page-->
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <h1>Admin panel</h1>
                <nav>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-users-tab" data-bs-toggle="tab"
                                    data-bs-target="#all-users" type="button" role="tab" aria-controls="all-users"
                                    aria-selected="true">Users Table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="create-user-tab" data-bs-toggle="tab"
                                    data-bs-target="#create-user" type="button" role="tab" aria-controls="create-user"
                                    aria-selected="false">New User
                            </button>
                        </li>
                    </ul>
                </nav>
                <div class="tab-content" id="myTabContent">
                    <!-- Users List -->
                    <div class="tab-pane fade show active" id="all-users" role="tabpanel"
                         aria-labelledby="all-users-tab">
                        <h5 class="p-3 mb-0 border-1 border">All users</h5>
                        <section class="p-3 bg-white">
                            <table class="table align-middle table-striped">
                                <tbody>
                                <tr></tr>
                                <tr class="border-top table-cell-padding-y-2">
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td>
                                        <th:block th:each="role: ${user.getAuthorities()}"
                                                  th:text="${role.getAuthority().replace('ROLE_', '')} + ' '"></th:block>
                                    </td>
                                    <td>
                                        <div class="modal fade" th:id="'editModalCenter_' + ${user.getId()}"
                                             tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:method="POST"
                                                              th:action="@{/admin/edit}"
                                                              id="editForm"
                                                              class="g-3 needs-validation container text-center fw-bold"
                                                              novalidate>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8">
                                                                    <label for="editId">ID</label>
                                                                    <input disabled type="text" class="form-control"
                                                                           th:name="id"
                                                                           id="editId" th:value="${user.getId()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditFirstName">First
                                                                        name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="validationEditFirstName"
                                                                           th:name="firstName"
                                                                           th:value="${user.getFirstName()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditLastName">Last
                                                                        name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="validationEditLastName"
                                                                           th:name="lastName"
                                                                           th:value="${user.getLastName()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditAge">Age</label>
                                                                    <input type="number" class="form-control"
                                                                           th:value="${user.getAge()}"
                                                                           th:name="age"
                                                                           id="validationEditAge" required>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditEmail">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           th:value="${user.getEmail()}"
                                                                           th:name="email"
                                                                           id="validationEditEmail">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditPassword">Password</label>
                                                                    <input th:name="password" type="text" class="form-control"
                                                                           id="validationEditPassword">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditRole">Role</label>
                                                                    <select multiple size="2" class="form-select"
                                                                            id="validationEditRole"
                                                                            name="form_selected_roles" required>
                                                                        <option th:each="role: ${roles}"
                                                                                th:value="${role.getId()}"
                                                                                th:text="${role.getAuthority().replace('ROLE_', '')} + ' '"
                                                                                th:selected="${role.toString().equals('ROLE_USER') || user.hasRole(role.toString())}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <input type="submit" id="submit-edit-form" class="visually-hidden"/>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal" aria-label="Close">Close
                                                        </button>
                                                        <label class="btn btn-primary" for="submit-edit-form" tabindex="0">Edit</label>
<!--                                                        <input type="submit" form="editForm" class="btn btn-primary" value="Edit">-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                th:data-bs-target="'#editModalCenter_' + ${user.getId()}">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <div class="modal fade" th:id="'deleteModalCenter_' + ${user.getId()}"
                                             tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLongTitle">Delete
                                                            user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post"
                                                              th:action="@{'/admin/delete/' + ${user.getId()}}"
                                                              id="deleteForm" class="g-3 container text-center fw-bold"
                                                              novalidate>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8">
                                                                    <label for="deleteFormId">ID</label>
                                                                    <input disabled type="text" class="form-control"
                                                                           id="deleteFormId" th:value="${user.getId()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="deleteFormFirstName">First name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteFormFirstName" disabled
                                                                           th:value="${user.getFirstName()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="deleteFormLastName">Last name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteFormLastName" disabled
                                                                           th:value="${user.getLastName()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="validationEditAge">Age</label>
                                                                    <input type="number" class="form-control"
                                                                           id="deleteFormAge" disabled
                                                                           th:value="${user.getAge()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="deleteFormEmail">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteFormEmail" disabled
                                                                           th:value="${user.getEmail()}">
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-8 gy-3">
                                                                    <label for="deleteFormRole">Role</label>
                                                                    <select multiple size="2" class="form-select"
                                                                            id="deleteFormRole" disabled>
                                                                        <option th:each="role: ${user.getAuthorities()}"
                                                                                th:text="${role.getAuthority().replace('ROLE_', '')} + ' '">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" form="deleteForm" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModalCenter_' + ${user.getId()}">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <!-- Create New User -->
                    <div class="tab-pane fade" id="create-user" role="tabpanel" aria-labelledby="create-user-tab">
                        <h5 class="p-3 mb-0 border-1 border">Add new user</h5>
                        <section class="p-3 bg-white">
                            <div class="container col-5">
                                <form th:method="POST" th:action="@{admin/create}" th:object="${user}" id="createForm"
                                      class="g-3 needs-validation container text-center fw-bold"
                                      novalidate>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreateFirstName">First name</label>
                                            <input type="text" class="form-control" id="validationCreateFirstName"
                                                   th:field="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreateLastName">Last name</label>
                                            <input type="text" class="form-control" id="validationCreateLastName"
                                                   th:field="*{lastName}">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreateAge">Age</label>
                                            <input type="number" class="form-control" id="validationCreateAge"
                                                   th:field="*{age}">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreateEmail">Email</label>
                                            <input type="text" class="form-control" id="validationCreateEmail"
                                                   th:field="*{email}">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreatePassword">Password</label>
                                            <input type="password" class="form-control" id="validationCreatePassword"
                                                   th:field="*{password}" required>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                                            <label for="validationCreateRole">Role</label>
                                            <select multiple size="2" class="form-select" id="validationCreateRole"
                                                    name="form_selected_roles"
                                                    required>
                                                <option
                                                        th:each="role: ${roles}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.getAuthority().replace('ROLE_', '')} + ' '"
                                                        th:selected="${role.toString().equals('ROLE_USER')}">
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a role.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto mt-3">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- User Details Page -->
            <div class="tab-pane fade" id="v-pills-user_details" role="tabpanel"
                 aria-labelledby="v-pills-user_details-tab">
                <h1>User information-page</h1>
                <h5 class="p-3 mb-0 border-1 border">About user</h5>
                <section class="p-3 bg-white">
                    <table class="table align-middle table-striped">
                        <tbody>
                        <tr></tr>
                        <tr class="border-top table-cell-padding-y-2">
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        <tr>
                            <td th:text="${authenticatedUser.getId()}"></td>
                            <td th:text="${authenticatedUser.getFirstName()}"></td>
                            <td th:text="${authenticatedUser.getLastName()}"></td>
                            <td th:text="${authenticatedUser.getAge()}"></td>
                            <td th:text="${authenticatedUser.getEmail()}"></td>
                            <td>
                                <th:block th:each="role: ${authenticatedUser.getAuthorities()}"
                                          th:text="${role.getAuthority().replace('ROLE_', '')} + ' '"></th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
